body{
  font-family:  'Plus Jakarta Sans', sans-serif;;
}
.navbar-collapse{
  justify-content: flex-end;
}

#hero-section{
  margin-top: 30px;
}

.cheap{
  color: #F2C040;
}
.cta{
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-style: 2px #0000 solid;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 13px 33px 14px 33px;
  text-decoration: none;
  margin-top: 2%;
}
.rectangle{
  position: absolute;
  width: 40%;
  height: 40%;
  background: #1B1B1B;
  border-radius: 9.71429px;
  overflow: hidden;
  margin-left: 5%;
}