/* General */
body{
  font-family:  'Plus Jakarta Sans', sans-serif;
  margin: 0;
}
a{
  text-decoration: none;
  color: #000;
}
li{
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 37.8px;
}

/* Navbar */
.navbar-collapse{
  justify-content: flex-end;
}

/* Hero-Section */
#hero-section{
  margin: 80px 0;
}
.hero-section-h1{
  font-size: 50.9087px;
  line-height: 65px;
  font-weight: bold;
}
.cheap{
  color: #F2C040;
}
.cta{
  background: #FFCD4D;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-style: 2px #0000 solid;
  color: #1B1B1B;
  font-size: 20px;
  padding: 16px 32px;
  text-decoration: none;
  border-style: none;
}
.rectangle{
  position: absolute;
  width: 40%;
  height: 40%;
  background: #1B1B1B;
  border-radius: 9.71429px;
  overflow: hidden;
}

/* What-We-Offer */
#what-we-offer{
  margin: 5% 0;
  text-align: center;
}
.what-we-offer{
  font-size: 50px;
  font-weight: bold;
}
.what-we-offer-p1{
  color: #000929;
  opacity: 0.7;
}
.what-we-offer-p2{
  color: #000929;
  padding: 0 100px;
  letter-spacing: 0.02em;
  line-height: 29px;
  font-weight: 400;
}
/* Features */
#features{
  margin: 12% 0;
}

/* Partner */
#partner{
  margin: 5% 0;
}

.partner{
   background: #000;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-style: 2px #0000 solid;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  margin-top: 2%;
}

.rectangle2{
  position: absolute;
  width: 40%;
  height: 40%;
  background: #FFCD4D;
  border-radius: 9.71429px;
  overflow: hidden;
}

/* FAQ */
#faq{
  text-align: center;
  margin: 3% 0;
}

.accordion-body{
  text-align: left;
}

.accordion-button{
  font-weight: bold;
}


/* Join-Team */
#join-team{
  text-align: center;
  margin: 5% 0;
}
.join-team-h1{
  margin-top: 5%;
}
.join-team-p1{
  line-height: 25px;
  letter-spacing: -0.01em;
}
.sco-button{
  background: #FFCD4D;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-style: 2px #0000 solid;
  color: #1B1B1B;
  padding: 12px 20px;
  text-decoration: none;
  border-style: none;
}

/* Footer */
.footer{
  margin: 15% 0 4% 0;
  display: flex;
  justify-content: space-between;
}

/* Privacy Policy */
#privacy-policy{
  margin: 5% 0;
}
.privacy-policy-p{
  font-weight: 400;
  font-size: 18.7868px;
  line-height: 33px;
  letter-spacing: 0.055em;
  color: #303030;
}
.privacy-rectangle{
  height: 250px;
  width: 90%;
  object-fit: cover;
  background-color: #1B1B1B;
  display: block;
  margin: auto;
}

/* Blog */
#safety-tips{
  margin: 3% 0;
}
.blog-header{
  text-align: center;
}
.blog-safety-tips-p1{
  line-height: 33px;
  letter-spacing: 0.055em;
}
.blog-safety-tips-p2{
  line-height: 35px;
  letter-spacing: -0.01em;
  color: #ADADAD;
  font-size: 20px;
}
.rectangle-blog1{
  width: 80%;
  height: 250px;
  background-color: #1B1B1B;
  margin: auto;
  border-radius: 9.71429px;
}
.rectangle-blog2{
  width: 80%;
  height: 250px;
  background-color: #1B1B1B;
  margin: 20px auto;
  border-radius: 9.71429px;
}
.read-latest{
  font-weight: bold;
  text-align: center;
  margin: 60px 0;
}